{% extends 'base.html.twig' %}

{% block title %}Заявка онлайн{% endblock %}

{% block body %}
    <main>
        <section class="offers">
            <div class="container">
                <div class="header--block">

                    <h2 class="header--h2 wow slideInLeft">{{ 'credits-bank-title'|trans }}</h2>
                </div>

                <div id="offers" class="offers--items">

                </div>


            </div>

        </section>
        <section id="home-about" class="section home--about">
            <div class="container">

                <div class="row row--space-between">
                    <div class="home--about-col wow slideInLeft">
                        <h3>{{ 'offer--content-h-1'|trans }}</h3>
                        <p>{{ 'offer--content-p-1'|trans }}</p>
                        <p>{{ 'offer--content-p-2'|trans }}</p>
                        <p>{{ 'offer--content-p-3'|trans }}</p>
                        <p>{{ 'offer--content-p-4'|trans }}</p>
                        <p>{{ 'offer--content-p-5'|trans }}</p>
                        <p>{{ 'offer--content-p-6'|trans }}</p>
                        <h3>{{ 'offer--content-h-2'|trans }}</h3>
                        <p>{{ 'offer--content-p-2-1'|trans }}</p>
                        <p>{{ 'offer--content-p-2-2'|trans }}</p>
                        <p>{{ 'offer--content-p-2-3'|trans }}</p>
                        <p>{{ 'offer--content-p-2-4'|trans }}</p>
                        <p>{{ 'offer--content-p-2-5'|trans }}</p>
                        <p>{{ 'offer--content-p-2-6'|trans }}</p>
                        <h3>{{ 'offer--content-h-3'|trans }}</h3>
                        <p>{{ 'offer--content-p-3-1'|trans }}</p>
                        <p>{{ 'offer--content-p-3-2'|trans }}</p>
                        <p>{{ 'offer--content-p-3-3'|trans }}</p>
                        <p>{{ 'offer--content-p-3-4'|trans }}</p>
                        <p>{{ 'offer--content-p-3-5'|trans }}</p>
                        <p>{{ 'offer--content-p-3-6'|trans }}</p>
                        <h3>{{ 'offer--content-h-4'|trans }}</h3>
                        <p>{{ 'offer--content-p-4-1'|trans }}</p>
                        <p>{{ 'offer--content-p-4-2'|trans }}</p>
                        <p>{{ 'offer--content-p-4-3'|trans }}</p>
                        <p>{{ 'offer--content-p-4-4'|trans }}</p>
                        <p>{{ 'offer--content-p-4-5'|trans }}</p>
                        <p>{{ 'offer--content-p-4-6'|trans }}</p>
                        <h3>{{ 'offer--content-h-5'|trans }}</h3>
                        <p>{{ 'offer--content-p-5-1'|trans }}</p>
                        <p>{{ 'offer--content-p-5-2'|trans }}</p>
                        <p>{{ 'offer--content-p-5-3'|trans }}</p>
                        <p>{{ 'offer--content-p-5-4'|trans }}</p>
                        <p>{{ 'offer--content-p-5-5'|trans }}</p>
                        <p>{{ 'offer--content-p-5-6'|trans }}</p>

                        <h3>{{ 'offer--content-h-6'|trans }}</h3>
                        <p>{{ 'offer--content-p-6-1'|trans }}</p>
                        <p>{{ 'offer--content-p-6-2'|trans }}</p>
                        <p>{{ 'offer--content-p-6-3'|trans }}</p>
                        <p>{{ 'offer--content-p-6-4'|trans }}</p>
                        <p>{{ 'offer--content-p-6-5'|trans }}</p>
                        <p>{{ 'offer--content-p-6-6'|trans }}</p>

                        <h3>{{ 'offer--content-h-7'|trans }}</h3>
                        <p>{{ 'offer--content-p-7-1'|trans }}</p>
                        <p>{{ 'offer--content-p-7-2'|trans }}</p>
                        <p>{{ 'offer--content-p-7-3'|trans }}</p>
                        <p>{{ 'offer--content-p-7-4'|trans }}</p>
                        <p>{{ 'offer--content-p-7-5'|trans }}</p>
                        <p>{{ 'offer--content-p-7-6'|trans }}</p>

                        <h3>{{ 'offer--content-h-8'|trans }}</h3>
                        <p>{{ 'offer--content-p-8-1'|trans }}</p>
                        <p>{{ 'offer--content-p-8-2'|trans }}</p>
                        <p>{{ 'offer--content-p-8-3'|trans }}</p>
                        <p>{{ 'offer--content-p-8-4'|trans }}</p>

                        <h3>{{ 'offer--content-h-9'|trans }}</h3>
                        <p>{{ 'offer--content-p-9-1'|trans }}</p>
                        <p>{{ 'offer--content-p-9-2'|trans }}</p>
                        <p>{{ 'offer--content-p-9-3'|trans }}</p>
                        <p>{{ 'offer--content-p-9-4'|trans }}</p>
                        <p>{{ 'offer--content-p-9-5'|trans }}</p>


                    </div>
                    <div class="home--about-col wow slideInLeft">
                        <h3>{{ 'offer--content-h-10'|trans }}</h3>
                        <p>{{ 'offer--content-p-10-1'|trans }}</p>
                        <p>{{ 'offer--content-p-10-2'|trans }}</p>
                        <p>{{ 'offer--content-p-10-3'|trans }}</p>
                        <p>{{ 'offer--content-p-10-4'|trans }}</p>
                        <p>{{ 'offer--content-p-10-5'|trans }}</p>
                        <p>{{ 'offer--content-p-10-6'|trans }}</p>

                        <h3>{{ 'offer--content-h-11'|trans }}</h3>
                        <p>{{ 'offer--content-p-11-1'|trans }}</p>
                        <p>{{ 'offer--content-p-11-2'|trans }}</p>
                        <p>{{ 'offer--content-p-11-3'|trans }}</p>
                        <p>{{ 'offer--content-p-11-4'|trans }}</p>
                        <p>{{ 'offer--content-p-11-5'|trans }}</p>
                        <p>{{ 'offer--content-p-11-6'|trans }}</p>

                        <h3>{{ 'offer--content-h-12'|trans }}</h3>
                        <p>{{ 'offer--content-p-12-1'|trans }}</p>
                        <p>{{ 'offer--content-p-12-2'|trans }}</p>
                        <p>{{ 'offer--content-p-12-3'|trans }}</p>
                        <p>{{ 'offer--content-p-12-4'|trans }}</p>
                        <p>{{ 'offer--content-p-12-5'|trans }}</p>
                        <p>{{ 'offer--content-p-12-6'|trans }}</p>
                        <p>{{ 'offer--content-p-12-7'|trans }}</p>

                        <h3>{{ 'offer--content-h-13'|trans }}</h3>
                        <p>{{ 'offer--content-p-13-1'|trans }}</p>
                        <p>{{ 'offer--content-p-13-2'|trans }}</p>
                        <p>{{ 'offer--content-p-13-3'|trans }}</p>
                        <p>{{ 'offer--content-p-13-4'|trans }}</p>
                        <p>{{ 'offer--content-p-13-5'|trans }}</p>
                        <p>{{ 'offer--content-p-13-6'|trans }}</p>


                        <h3>{{ 'offer--content-h-14'|trans }}</h3>
                        <p>{{ 'offer--content-p-14-1'|trans }}</p>
                        <p>{{ 'offer--content-p-14-2'|trans }}</p>
                        <p>{{ 'offer--content-p-14-3'|trans }}</p>
                        <p>{{ 'offer--content-p-14-4'|trans }}</p>
                        <p>{{ 'offer--content-p-14-5'|trans }}</p>
                        <p>{{ 'offer--content-p-14-6'|trans }}</p>


                        <h3>{{ 'offer--content-h-15'|trans }}</h3>
                        <p>{{ 'offer--content-p-15-1'|trans }}</p>
                        <p>{{ 'offer--content-p-15-2'|trans }}</p>
                        <p>{{ 'offer--content-p-15-3'|trans }}</p>
                        <p>{{ 'offer--content-p-15-4'|trans }}</p>
                        <p>{{ 'offer--content-p-15-5'|trans }}</p>
                        <p>{{ 'offer--content-p-15-6'|trans }}</p>
                        <p>{{ 'offer--content-p-15-7'|trans }}</p>

                        <h3>{{ 'offer--content-h-16'|trans }}</h3>
                        <p>{{ 'offer--content-p-16-1'|trans }}</p>
                        <p>{{ 'offer--content-p-16-2'|trans }}</p>
                        <p>{{ 'offer--content-p-16-3'|trans }}</p>
                        <p>{{ 'offer--content-p-16-4'|trans }}</p>
                        <p>{{ 'offer--content-p-16-5'|trans }}</p>
                        <p>{{ 'offer--content-p-16-6'|trans }}</p>
                        <p>{{ 'offer--content-p-16-7'|trans }}</p>

                        <h3>{{ 'offer--content-h-17'|trans }}</h3>
                        <p>{{ 'offer--content-p-17-1'|trans }}</p>
                        <p>{{ 'offer--content-p-17-2'|trans }}</p>
                        <p>{{ 'offer--content-p-17-3'|trans }}</p>
                        <p>{{ 'offer--content-p-17-4'|trans }}</p>
                        <p>{{ 'offer--content-p-17-5'|trans }}</p>
                        <p>{{ 'offer--content-p-17-6'|trans }}</p>
                        <p>{{ 'offer--content-p-17-7'|trans }}</p>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/credits-banks.js')}}"></script>
    <!-- Event snippet for Контакт conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-304995985/4ThCCPGty_MCEJG9t5EB'});
    </script>
{% endblock %}