{% extends 'base.html.twig' %}

{% block title %}{{ 'home--title'|trans }}{% endblock %}
{% block description %}{{ 'home--description'|trans }}{% endblock %}

{% block body %}
    <section id="home-top" class="section home--top">
        <div class="container">
            <div class=" home--calculator">
                <h1>{{ 'home-h1'|trans }}</h1>
                <div class="calculator">
                        {{ include("include/calculator.html.twig") }}
                </div>
            </div>


        </div>
    </section>
    <section class="section home--advantages">
        <div class="container">
            <div class="header--block">

                <h2 class="header--h2 wow slideInLeft">{{ 'home--advantages-title'|trans }}</h2>
            </div>
            <div class="row row--space-between home--row-advantages">
                <div class="home--advantages-col home--advantages-col__1 wow slideInRight">
                    <div class="home--advantages-ico home--advantages-ico__1"></div>
                    <div class="home--advantages-text">{{ 'home--advantages-item-1'|trans }}</div>

                </div>
                <div class="home--advantages-col home--advantages-col__2 wow slideInUp">
                    <div class="home--advantages-ico home--advantages-ico__2"></div>
                    <div class="home--advantages-text">{{ 'home--advantages-item-2'|trans }}</div>

                </div>
                <div class="home--advantages-col home--advantages-col__3 wow slideInLeft">
                    <div class="home--advantages-ico home--advantages-ico__3"></div>
                    <div class="home--advantages-text">{{ 'home--advantages-item-3'|trans }}</div>

                </div>
            </div>

        </div>
    </section>
    <section class="section home--conditions">
        <div class="container">

            <div class="header--block">

                <h2 class="header--h2 wow slideInLeft">{{ 'home--conditions-title'|trans }}</h2>
            </div>
            <div class="row row--space-between home--row-conditions">
                <div class="home--col-conditions home--col-conditions__1">
                    <div class="row">
                        <div class="home--conditions-item home--conditions-item__1 wow slideInLef">
                            <h4 class="home--conditions-header">{{ 'home--conditions-item_1'|trans }}</h4>
                        </div>
                        <div class="home--conditions-item home--conditions-item__2 wow slideInRight">
                            <h4 class="home--conditions-header">{{ 'home--conditions-item_2'|trans }}</h4>

                        </div>
                        <div class="home--conditions-item home--conditions-item__3 wow slideInLeft">
                            <h4 class="home--conditions-header">{{ 'home--conditions-item_3'|trans }}</h4>
                        </div>
                        <div class="home--conditions-item home--conditions-item__4 wow slideInRight">
                            <h4 class="home--conditions-header">{{ 'home--conditions-item_4'|trans }}</h4>
                        </div>
                    </div>

                </div>
                <div class="home--col-conditions home--col-conditions__2">

                </div>
            </div>
        </div>

    </section>



    <section id="home-work" class="section home--work">
        <div class="container">
            <div class="header--block">

                <h2 class="header--h2 wow slideInLeft">{{ 'home--work-title'|trans }}</h2>
            </div>
            <div class="row row--space-between home--row-work">


                    <div class="home--work-item home--work-item__1 wow slideInRight">
                        <div class="home--work-ico home--work-ico__1"></div>
                        <div class="home--work-text">{{ 'home--work-title_1'|trans }}</div>
                        <div class="home--work-content">{{ 'home--work-content_1'|trans }}</div>
                    </div>
                    <div class="home--work-item home--work-item__2 wow slideInLeft">
                        <div class="home--work-ico home--work-ico__2"></div>
                        <div class="home--work-text">{{ 'home--work-title_2'|trans }}</div>
                        <div class="home--work-content">{{ 'home--work-content_2'|trans }}</div>
                    </div>
                    <div class="home--work-item home--work-item__3 wow slideInRight">
                        <div class="home--work-ico home--work-ico__3"></div>
                        <div class="home--work-text">{{ 'home--work-title_3'|trans }}</div>
                        <div class="home--work-content">{{ 'home--work-content_3'|trans }}</div>
                    </div>



            </div>
            <div class="row row--space-between home--row-work">
                <a class="btn home--work-btn" href="/{{ app.request.locale }}/credit-form">{{ 'RequestOnline'|trans }}</a>
            </div>

        </div>
    </section>
    <section id="home-reviews" class="section home--slider home--reviews">
        <div class="container">

            <div class="header--block">

                <h2 class="header--h2 wow slideInLeft">{{ 'home--reviews-title'|trans }}</h2>
            </div>


                <div class="slider">
                    <div class="slider__container">
                        <div class="slider__wrapper">
                            <div class="slider__items">
                                <div class="slider__item">
                                    <div class="slider__item-container">
                                        <div class="slider__item-content">
                                            <div class="slider--ico slider--ico__1"></div>
                                            <h4 class="slider__content_author">{{ 'home--reviews-h-1'|trans }}</h4>
                                            <div class="slider__content_text">
                                                {{ 'home--reviews-1'|trans }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slider__item">
                                    <div class="slider__item-container">
                                        <div class="slider__item-content">
                                            <div class="slider--ico slider--ico__2"></div>
                                            <h4 class="slider__content_author">{{ 'home--reviews-h-2'|trans }}</h4>
                                            <div class="slider__content_text">
                                                {{ 'home--reviews-2'|trans }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slider__item">
                                    <div class="slider__item-container">
                                        <div class="slider__item-content">
                                            <div class="slider--ico slider--ico__3"></div>
                                            <h4 class="slider__content_author">{{ 'home--reviews-h-3'|trans }}</h4>
                                            <div class="slider__content_text">
                                                {{ 'home--reviews-3'|trans }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slider__item">
                                    <div class="slider__item-container">
                                        <div class="slider__item-content">
                                            <div class="slider--ico slider--ico__1"></div>
                                            <h4 class="slider__content_author">{{ 'home--reviews-h-1'|trans }}</h4>
                                            <div class="slider__content_text">
                                                {{ 'home--reviews-1'|trans }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slider__item">
                                    <div class="slider__item-container">
                                        <div class="slider__item-content">
                                            <div class="slider--ico slider--ico__2"></div>
                                            <h4 class="slider__content_author">{{ 'home--reviews-h-2'|trans }}</h4>
                                            <div class="slider__content_text">
                                                {{ 'home--reviews-2'|trans }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="slider__item">
                                    <div class="slider__item-container">
                                        <div class="slider__item-content">
                                            <div class="slider--ico slider--ico__3"></div>
                                            <h4 class="slider__content_author">{{ 'home--reviews-h-3'|trans }}</h4>
                                            <div class="slider__content_text">
                                                {{ 'home--reviews-3'|trans }}
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                        <a href="#" class="slider__control slider__control__left" data-slide="prev"></a>
                        <a href="#" class="slider__control slider__control__right" data-slide="next"></a>


                    </div>
                </div>
            </div>

    </section>
    <section id="home-partner" class="section home--partner">
        <div class="container">
            <div class="header--block">

                <h2 class="header--h2 wow slideInLeft">{{ 'home--partner-title'|trans }}</h2>
            </div>
            <div class="row row--space-between">
                <div class="home--partner-col">
                    <img src="{{ asset('img/partners/partner-1.png') }}" class="home--partner-img">
                </div>
                <div class="home--partner-col">
                    <img src="{{ asset('img/partners/partner-2.png') }}" class="home--partner-img">
                </div>
                <div class="home--partner-col">
                    <img src="{{ asset('img/partners/partner-3.png') }}" class="home--partner-img">
                </div>
                <div class="home--partner-col">
                    <img src="{{ asset('img/partners/partner-4.png') }}" class="home--partner-img">
                </div>
                <div class="home--partner-col">
                    <img src="{{ asset('img/partners/partner-5.png') }}" class="home--partner-img">
                </div>
            </div>
        </div>
    </section>
    <section id="home-about" class="section home--about">
        <div class="container">

            <div class="header--block">

                <h2 class="header--h2 wow slideInRight text--center">{{ 'home--content-title'|trans }}</h2>
            </div>
            <div class="row row--space-between">
                <div class="home--about-col wow slideInLeft">
                    <h3>{{ 'home--content-h-1'|trans }}</h3>
               <p>{{ 'home--content-p-1'|trans }}</p>
                    <h3>{{ 'home--content-h-2'|trans }}</h3>
               <p>{{ 'home--content-p-2'|trans }}</p>
               <p>{{ 'home--content-p-3'|trans }}</p>
               <p>{{ 'home--content-p-4'|trans }}</p>
               <p>{{ 'home--content-p-5'|trans }}</p>
               <p>{{ 'home--content-p-6'|trans }}</p>




                </div>
                <div class="home--about-col wow slideInRight">
                    <h3>{{ 'home--content-h-3'|trans }}</h3>
                    <p>{{ 'home--content-p-7'|trans }}</p>
                    <p>{{ 'home--content-p-8'|trans }}</p>

                    <h3>{{ 'home--content-h-4'|trans }}</h3>

                    <ul>
                        <li> -  {{ 'home--content-ul-1-1'|trans }}</li>
                        <li> -  {{ 'home--content-ul-1-2'|trans }}</li>
                        <li> -  {{ 'home--content-ul-1-3'|trans }}</li>
                        <li> -  {{ 'home--content-ul-1-4'|trans }}</li>
                        <li> -  {{ 'home--content-ul-1-5'|trans }}</li>
                        <li> -  {{ 'home--content-ul-1-6'|trans }}</li>
                        <li> -  {{ 'home--content-ul-1-7'|trans }}</li>
                        <li> -  {{ 'home--content-ul-1-8'|trans }}</li>
                        <li> -  {{ 'home--content-ul-1-9'|trans }}</li>



                    </ul>
                    <h3>{{ 'home--content-h-5'|trans }}</h3>

                    <ul>
                        <li>   {{ 'home--content-ul-2-1'|trans }}</li>
                        <li>   {{ 'home--content-ul-2-2'|trans }}</li>
                        <li>   {{ 'home--content-ul-2-3'|trans }}</li>
                        <li>   {{ 'home--content-ul-2-4'|trans }}</li>
                    </ul>



                </div>
            </div>
            <div class="row row--center" style="    justify-content: center;">
                <div class="home--about-col wow slideInRight">


                </div>

            </div>
        </div>
    </section>
    {% block javascripts %}
        <script type="text/javascript" src="{{asset('js/slider.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/calc.js')}}"></script>
    {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const slider = new ChiefSlider('.slider', {
                //loop: true,
                //autoplay: true,
                //interval: 5000,
                refresh: true,
            });
        });
    </script>

{% endblock %}
