{% extends 'base.html.twig' %}


{% block title %}Политика конфиденциальности - criditnigroshi.com.ua{% endblock %}
{% block description %}Политика конфиденциальности ✓ Условия сотрудничества ✓ Наши Обязанности{% endblock %}
{% block metablock %}<meta name="robots" content="noindex">{% endblock %}


{% block body %}
    <main>
        <section class="">
            <div class="container">
                <div class="header--block">

                    <h2 class="header--h2 wow slideInLeft text--center">{{ 'privacy_policy--title'|trans }}</h2>
                </div>

                <div class="row row--space-between">
                    <div class="home--about-col wow slideInLeft">
                        <p>{{ 'privacy_policy--p-1'|trans }}</p>
                        <h3>{{ 'privacy_policy--h-1'|trans }}</h3>
                        <h3>{{ 'privacy_policy--h-2'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-2'|trans }}</p>
                        <p>{{ 'privacy_policy--p-3'|trans }}</p>
                        <p>{{ 'privacy_policy--p-4'|trans }}</p>
                        <p>{{ 'privacy_policy--p-5'|trans }}</p>
                        <p>{{ 'privacy_policy--p-6'|trans }}</p>
                        <p>{{ 'privacy_policy--p-7'|trans }}</p>

                       <h3>{{ 'privacy_policy--h-3'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-8'|trans }}</p>
                        <p>{{ 'privacy_policy--p-9'|trans }}</p>
                        <h3>{{ 'privacy_policy--h-4'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-10'|trans }}</p>
                        <h3>{{ 'privacy_policy--h-5'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-11'|trans }}</p>
                    </div>
                    <div class="home--about-col wow slideInRight">

                        <h3>{{ 'privacy_policy--h-6'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-12'|trans }}</p>

                        <h3>{{ 'privacy_policy--h-7'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-13'|trans }}</p>
                        <h3>{{ 'privacy_policy--h-8'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-14'|trans }}</p>
                        <p>{{ 'privacy_policy--p-15'|trans }}</p>
                        <h3>{{ 'privacy_policy--h-9'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-16'|trans }}</p>
                        <h3>{{ 'privacy_policy--h-10'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-17'|trans }}</p>
                        <h3>{{ 'privacy_policy--h-11'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-18'|trans }}</p>
                        <h3>{{ 'privacy_policy--h-12'|trans }}</h3>
                        <p>{{ 'privacy_policy--p-19'|trans }}</p>



                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
