{% extends 'base.html.twig' %}


{% block title %}Публичная оферта - credit4you.com.ua{% endblock %}
{% block description %}Публичная оферта ✓ Условия сотрудничества ✓ Наши Обязанности{% endblock %}
{% block metablock %}<meta name="robots" content="noindex">{% endblock %}



{% block body %}
    <main>
        <section class="">
            <div class="container">
                <div class="header--block">

                    <h2 class="header--h2 wow slideInLeft text--center">{{ 'public-offer--title'|trans }}</h2>
                </div>

                <div class="row row--space-between">
                    <div class="home--about-col wow slideInLeft">
                        <p>{{ 'public-offer--p-1'|trans }}</p>
                        <h3>{{ 'public-offer--h-1'|trans }}</h3>
                        <p>{{ 'public-offer--p-2'|trans }}</p>
                        <p>{{ 'public-offer--p-3'|trans }}</p>
                        <p>{{ 'public-offer--p-4'|trans }}</p>
                        <p>{{ 'public-offer--p-5'|trans }}</p>
                        <p>{{ 'public-offer--p-6'|trans }}</p>
                        <p>{{ 'public-offer--p-7'|trans }}</p>
                        <h3>{{ 'public-offer--h-2'|trans }}</h3>
                        <p>{{ 'public-offer--p-8'|trans }}</p>
                        <p>{{ 'public-offer--p-9'|trans }}</p>
                        <p>{{ 'public-offer--p-10'|trans }}</p>



                    </div>
                    <div class="home--about-col wow slideInRight">
                        <h3>{{ 'public-offer--h-3'|trans }}</h3>
                        <p>{{ 'public-offer--p-11'|trans }}</p>
                        <p>{{ 'public-offer--p-11-1'|trans }}</p>
                        <p>{{ 'public-offer--p-11-2'|trans }}</p>
                        <p>{{ 'public-offer--p-11-3'|trans }}</p>
                        <p>{{ 'public-offer--p-12'|trans }}</p>
                        <p>{{ 'public-offer--p-13'|trans }}</p>
                        <h3>{{ 'public-offer--h-4'|trans }}</h3>
                        <p>{{ 'public-offer--p-14'|trans }}</p>
                        <p>{{ 'public-offer--p-15'|trans }}</p>
                        <p>{{ 'public-offer--p-16'|trans }}</p>

                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
