{% extends 'base.html.twig' %}


{% block title %}Пользовательское соглашение- Zaymu-24{% endblock %}
{% block description %}Пользовательское соглашение ✓ Условия сотрудничества ✓ Наши Обязанности{% endblock %}
{% block metablock %}<meta name="robots" content="noindex">{% endblock %}



{% block body %}
    <main>
        <section class="">
            <div class="container">
                <div class="header--block">

                    <h2 class="header--h2 wow slideInLeft text--center">{{ 'term-of-use--title'|trans }}</h2>
                </div>

                <div class="row row--space-between">
                    <div class="home--about-col wow slideInLeft">

                        <p>{{ 'term-of-use--p-1'|trans }}</p>
                        <p>{{ 'term-of-use--p-2'|trans }}</p>
                        <p>{{ 'term-of-use--p-3'|trans }}</p>
                        <h3>{{ 'term-of-use--h-1'|trans }}</h3>
                        <h3>{{ 'term-of-use--h-2'|trans }}</h3>
                        <p>{{ 'term-of-use--p-4'|trans }}</p>
                        <p>{{ 'term-of-use--p-5'|trans }}</p>
                        <p>{{ 'term-of-use--p-6'|trans }}</p>
                        <p>{{ 'term-of-use--p-7'|trans }}</p>
                        <p>{{ 'term-of-use--p-8'|trans }}</p>
                        <h3>{{ 'term-of-use--h-3'|trans }}</h3>
                        <p>{{ 'term-of-use--p-9'|trans }}</p>
                        <p>{{ 'term-of-use--p-10'|trans }}</p>
                        <h3>{{ 'term-of-use--h-4'|trans }}</h3>
                        <p>{{ 'term-of-use--p-11'|trans }}</p>
                        <p>{{ 'term-of-use--p-12'|trans }}</p>
                        <p>{{ 'term-of-use--p-13'|trans }}</p>
                        <p>{{ 'term-of-use--p-14'|trans }}</p>
                        <p>{{ 'term-of-use--p-15'|trans }}</p>
                        <p>{{ 'term-of-use--p-15-1'|trans }}</p>
                        <p>{{ 'term-of-use--p-15-2'|trans }}</p>
                        <p>{{ 'term-of-use--p-15-3'|trans }}</p>
                        <p>{{ 'term-of-use--p-15-4'|trans }}</p>
                        <p>{{ 'term-of-use--p-16'|trans }}</p>
                        <h3>{{ 'term-of-use--h-5'|trans }}</h3>
                        <p>{{ 'term-of-use--p-17'|trans }}</p>
                        <p>{{ 'term-of-use--p-18'|trans }}</p>
                        <p>{{ 'term-of-use--p-19'|trans }}</p>
                        <h3>{{ 'term-of-use--h-6'|trans }}</h3>
                        <p>{{ 'term-of-use--p-20'|trans }}</p>
                        <p>{{ 'term-of-use--p-21'|trans }}</p>

                    </div>
                    <div class="home--about-col wow slideInRight">

                        <p>{{ 'term-of-use--p-22'|trans }}</p>
                        <h3>{{ 'term-of-use--h-8'|trans }}</h3>
                        <p>{{ 'term-of-use--p-23'|trans }}</p>
                        <p>{{ 'term-of-use--p-24'|trans }}</p>
                        <p>{{ 'term-of-use--p-25'|trans }}</p>
                        <p>{{ 'term-of-use--p-26'|trans }}</p>
                        <p>{{ 'term-of-use--p-27'|trans }}</p>
                        <h3>{{ 'term-of-use--h-9'|trans }}</h3>
                        <p>{{ 'term-of-use--p-28'|trans }}</p>
                        <p>{{ 'term-of-use--p-29'|trans }}</p>
                        <p>{{ 'term-of-use--p-30'|trans }}</p>
                        <p>{{ 'term-of-use--p-31'|trans }}</p>
                        <p>{{ 'term-of-use--p-32'|trans }}</p>
                        <p>{{ 'term-of-use--p-33'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-1'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-2'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-3'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-4'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-5'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-6'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-7'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-8'|trans }}</p>
                        <p>{{ 'term-of-use--p-33-8'|trans }}</p>
                        <h3>{{ 'term-of-use--h-10'|trans }}</h3>
                        <p>{{ 'term-of-use--p-34'|trans }}</p>
                        <p>{{ 'term-of-use--p-35'|trans }}</p>
                        <p>{{ 'term-of-use--p-36'|trans }}</p>
                        <p>{{ 'term-of-use--p-37'|trans }}</p>
                        <p>{{ 'term-of-use--p-38'|trans }}</p>
                        <p>{{ 'term-of-use--p-39'|trans }}</p>
                        <h3>{{ 'term-of-use--h-11'|trans }}</h3>
                        <p>{{ 'term-of-use--p-40'|trans }}</p>
                        <p>{{ 'term-of-use--p-41'|trans }}</p>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
