<footer class="footer">
    <div class="container">
        <div class="row row--space-between row--center">
            <a  href="/" class="footer--logo"></a>
            <div class="footer--menu">

                <ul class="footer--menu-list">
                    <li class="footer--item">
                        <a class="footer--link" href="/{{ app.request.locale }}/public-offer">{{ 'footer_item_1'|trans }}</a>
                    </li>
                    <li class="footer--item">
                        <a class="footer--link" href="/{{ app.request.locale }}/terms-of-use">{{ 'footer_item_2'|trans }}</a>
                    </li>
                    <li class="footer--item">
                        <a class="footer--link" href="/{{ app.request.locale }}/privacy-policy">{{ 'footer_item_3'|trans }}</a>
                    </li>

                </ul>

            </div>
        </div>


        <div class="row row--space-between ">
            <div class="footer--col ">
                <p class="footer--text">
                    ©Zaymu-24, 2021
                </p>
                <p class="footer--text">
                    {{ 'footer_text_1'|trans }}

                </p>

                <p class="footer--text">
                    {{ 'footer_text_2'|trans }}

                </p>
            </div>


        </div>
    </div>
</footer>
